body{
	font-family:Trebuchet MS;
	color:#ffffff;
	background-color: #383838;
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center; 
}

.container1{
	width: 700px;
	height: 400px;
	text-align: center;
	background-color: #ebebe0;
	margin: 0 auto;
    margin-top: 90px;
    border-radius: 10px;

	
}
.container2{
	width: 700px;
	height: 400px;
	text-align: center;
	background-color: #ebebe0;
	margin: 0 auto;
    margin-top: 90px;
    border-radius: 10px;

	
}
h3
{


    color:#800000;
	text-align: center;
	padding: 9px;
	font-weight:normal;

}
form
{
    bottom: 15px;
	padding: 11px;
	position: center;

}
table {
	 width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align:center;
    border-bottom: 1px solid #ddd;

}
 
tr:nth-child(even) {background-color: #383838;; }




form button
{
height: 45px;
	padding: 15px 25px;
	border-radius: 10px;
	border: none;
	background-color:#ff99ff;

}
form button:hover
{
  background-color: rgb(230, 153, 204);

}