<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Egeia2017</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>DoctorRegistration</servlet-name>
    <servlet-class>com.main.egeia.servlets.DoctorRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorRegistration</servlet-name>
    <url-pattern>/Dr</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLogIn</servlet-name>
    <servlet-class>com.main.egeia.servlets.AdminLogIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogIn</servlet-name>
    <url-pattern>/Adl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DoctorLogIn</servlet-name>
    <servlet-class>com.main.egeia.servlets.DoctorLogIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorLogIn</servlet-name>
    <url-pattern>/logdoc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PatientLogIn</servlet-name>
    <servlet-class>com.main.egeia.servlets.PatientLogIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientLogIn</servlet-name>
    <url-pattern>/Patl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PatientRegistration</servlet-name>
    <servlet-class>com.main.egeia.servlets.PatientRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientRegistration</servlet-name>
    <url-pattern>/ef</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteDoctor</servlet-name>
    <servlet-class>com.main.egeia.servlets.DeleteDoctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDoctor</servlet-name>
    <url-pattern>/DeleteDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteAppointmentByDoctor</servlet-name>
    <servlet-class>com.main.egeia.servlets.DeleteAppointmentByDoctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAppointmentByDoctor</servlet-name>
    <url-pattern>/delap</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PatientDate</servlet-name>
    <servlet-class>com.main.egeia.servlets.PatientDate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientDate</servlet-name>
    <url-pattern>/PatDate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteAppointmentByPatient</servlet-name>
    <servlet-class>com.main.egeia.servlets.DeleteAppointmentByPatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAppointmentByPatient</servlet-name>
    <url-pattern>/canap</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.main.egeia.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>